<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.fletamuto.sptb"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".FmFinanceLayout"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity android:name=".InputExpenseLayout" android:label="지출입력"></activity>
		<activity android:name=".InputIncomeLayout" android:label="수입입력"></activity>
		<activity android:name=".InputAssetsLayout" android:label="자산입력"></activity>
		<activity android:name=".InputLiabilityLayout" android:label="부채입력"></activity>
		<activity android:name=".InputAssetsOrLiability" android:label="자산/부채 입력"></activity>
		<activity android:name=".MainReportLayout" android:label="목록보기"></activity>
		<activity android:name=".ReportAssetsLayout" android:label="자산내역"></activity>
		<activity android:name=".ReportExpenseLayout" android:label="지출내역"></activity>
		<activity android:name=".ReportIncomeLayout" android:label="수입내역"></activity>
		<activity android:name=".ReportLiabilityLayout" android:label="부채내역"></activity>
		<activity android:name=".SelectCategoryIncomeEdit"></activity>
		<activity android:name=".SelectCategoryIncomeLayout" android:label="분류선택"></activity>
		<activity android:name=".SelectCategoryAssetsLayout" android:label="상위분류 선택"></activity>
		<activity android:name=".SelectCategoryExpenseLayout" android:label="상위분류 선택"></activity>
		<activity android:name=".SelectCategoryLiabilityLayout" android:label="분류선택"></activity>
		<activity android:name="com.fletamuto.common.control.InputAmountDialog" android:theme="@android:style/Theme.Dialog" android:label="금액입력"></activity>
	<activity android:label="하위분류 선택" android:name=".SelectSubCategoryLayout"></activity>
</application>


</manifest> 