<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.fletamuto.sptb"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".FmFinanceLayout"
                  android:label="@string/app_name" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity android:name=".InputExpenseLayout" android:label="지출입력" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".BookmarkExpenseAddLayout" android:label="자주 사용 되는 지출" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".InputIncomeLayout" android:label="수입입력" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".InputAssetsLayout" android:label="자산입력" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".InputLiabilityLayout" android:label="부채입력" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".InputAssetsOrLiability" android:label="자산/부채 입력" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".MainReportLayout" android:label="목록보기" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".ReportAssetsLayout" android:label="자산내역" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".ReportExpenseLayout" android:label="지출내역" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".ReportIncomeLayout" android:label="수입내역" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".ReportLiabilityLayout" android:label="부채내역" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".SelectCategoryIncomeLayout" android:label="분류선택" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".SelectCategoryAssetsLayout" android:label="상위분류 선택" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".SelectCategoryExpenseLayout" android:label="상위분류 선택" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".SelectCategoryLiabilityLayout" android:label="분류선택" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name="com.fletamuto.common.control.InputAmountDialog" android:theme="@android:style/Theme.Dialog" android:label="금액입력" android:screenOrientation="portrait"></activity>
		<activity android:label="하위분류 선택" android:name=".SelectSubCategoryLayout" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".ReportCurrentExpenseLayout" android:label="금일 지출목록" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:label="금일 수입목록" android:name=".ReportCurrentIncomeLayout" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".EditCategoryLayout" android:theme="@android:style/Theme.NoTitleBar" android:label="분류편집"></activity>
		<activity android:label="설정" android:name=".MainSettingLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".SettingRegstrationLayout" android:label="등록" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".InputAccountLayout" android:label="계좌등록" android:theme="@android:style/Theme.NoTitleBar"></activity>
		
		<activity android:label="금융기관 선택" android:name=".SelectCompanyLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:label="계좌" android:name=".ReportAccountLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".SelectCardCompanyLayout" android:label="카드사선택" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".InputCreditCardLayout" android:label="신용카드 등록" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:theme="@android:style/Theme.Dialog" android:label="계좌선택" android:name=".SelectAccountLayout"></activity>
		<activity android:name=".ReportCreditCardLayout" android:label="신용카드 목록"></activity>
		<activity android:name=".InputCheckCardLayout" android:label="체크카드 입력"></activity>
		<activity android:name=".InputPrepaidCardLayout" android:label="선불카드 입력"></activity>
		<activity android:name=".ReportCheckCardLayout" android:label="체크카드 목록"></activity>
		<activity android:name=".ReportPrepaidCardLayout" android:label="선불카드 목록"></activity>
		<activity android:name=".CardLayout" android:label="카드" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".AccountLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".BudgetLayout"></activity>
		<activity android:name=".SearchLayout"></activity>
		<activity android:name=".SelectTagLayout"></activity>
		<activity android:name=".RepeatLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".PurposeLayout"></activity>
		<activity android:name=".SelectCardLayout" android:theme="@android:style/Theme.Dialog" android:label="카드선택"></activity>
<activity android:label="카드종류선택" android:name=".SelectInputCardLayout" android:theme="@android:style/Theme.Dialog"></activity>
<activity android:name="EditSelecTagLayout"></activity>
<activity android:name=".EditSelecCardCompanyNameLayout"></activity>
<activity android:name=".EditSelecCompanyLayout"></activity>
<activity android:name=".InputIncomeSelaryLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".ReportMonthOfYearLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>

<activity android:name=".InputTakeHomePayLayout"></activity>
<activity android:name=".ReportMonthCompareExpenseToIncomeLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".ReportMonthCompareExpenseLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".ReportMonthCompareIncomeLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".ReportMonthCompareExpenseSubLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".MainAssetsLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".ReportCompareAssetsLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".ReportCompareLiabilityLayout"></activity>
<activity android:name=".ReportExpenseExpandLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".ReportIncomeExpandLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".ReportAssetsExpandLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".ReportLiabilityExpandLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".InputAssetsDepositLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".InputAssetsSavingsLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".InputAssetsStockLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".InputAssetsFundLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".InputAssetsInsuranceLayout"></activity>
<activity android:name=".InputLiabilityLoanLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name="InputLiabilityCashServiceLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name="InputLiabilityPersonLoanLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".EditBudgetLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".ReportCategoryCompareLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".ReportCategoryCompareBaseLayout"></activity>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".ReportTagExpenseLayout"></activity>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".ReportExpenseRateLayout"></activity>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".ReportExpenseRateExpandLayout"></activity>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".ReportMonthLayout"></activity>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".EditAccountLayout"></activity>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".TransferAccountLayout"></activity>
<activity android:name=".EditCardLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".CardDetailCreditLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".CardDetailCheckLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".CardDetailPrepaidLayout"></activity>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".StateAssetsDefaultLayout"></activity>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".ReportAssetsHistoryLayout"></activity>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".StateLiabilityDefaultLayout"></activity>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".ReportLiabilityHistoryLayout"></activity>
<activity android:name=".ReportChangeAssets" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".ReportCompareAssetsAndLiability" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".StateAssetsDepositLayout"></activity>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".InputIncomeFromAssetsLayout"></activity>


<activity android:name="StateAssetsSavingsLayout" android:theme="@android:style/Theme.NoTitleBar"></activity>
</application>


</manifest> 
